<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>                            
                <tbody >
                    <!-- empty cart message -->
                    <tr ng-hide="itemCount > 0">
                        <td class="cart_product">
                            None
                        </td>
                        <td class="cart_description">
                            <h4>Your cart is empty.</h4>
                        </td>
                        <td class="cart_price">
                            None
                        </td>
                        <td class="cart_quantity">
                            None
                        </td>
                        <td class="cart_total">
                            None
                        </td>
                        <td class="cart_delete"></td>
                    </tr>

                    <!-- cart items -->
                    <tr ng-repeat="item in items track by $index">
                        <td class="cart_product">
                            <a ui-sref="productDetail({ category: item.category, idProduct: item.id })"><img src="{{item.linkImage}}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a ui-sref="productDetail({ category: item.category, idProduct: item.id })">{{item.name}}</a></h4>
                            <p>Category: {{item.category}}</p>
                        </td>
                        <td class="cart_price">
                            <p>{{item.price|customCurrency}}</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a ng-click="addStock()" class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="{{item.count}}" autocomplete="off" size="2" readonly>
                                <a ng-click="subStock()" class="cart_quantity_down" href=""> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{item.count * item.price|customCurrency}}</p>
                        </td>
                        <td class="cart_delete">
                            <a ng-click="delete()" class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Ut volutpat quam et turpis gravida posuere. In accumsan efficitur diam.</p>
        </div>
        <div class="row">           
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>{{total|customCurrency}}</span></li>
                        <li>Eco Tax <span>Free</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>{{total|customCurrency}}</span></li>
                    </ul>
                    <a ng-click="clearAll()" class="btn btn-default update" href="">Clear cart</a>                   
                </div>
            </div>
            <div class="col-sm-6">
                <mycheckout data="items" when-select="clearAll()" item-count="itemCount"></mycheckout>
            </div>
        </div>
    </div>
</section><!--/#do_action-->