/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
 
.mainmenu .dropdown{
    text-align:left;
    width:33%;
}

.shipping img{
  width: 100%;
}

.product-information span span{
  width: 100%;
}

#cart_items .cart_info .cart_description h4, 
#cart_items .cart_info .cart_description p{
  text-align: center;
} 

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

.mainmenu .dropdown{
    text-align:left;
    width:33%;
}

.shop-menu ul li a{
  padding-left: 0;
}

#slider-carousel .item{
  padding-left: 30px;
}

.item h2{
  font-size: 24px;
}

.banner{
  margin-left: 0;
}

.shipping img{
  width: 100%;
}

.slider.slider-horizontal{
  width: 100% !important;
}

.tab-pane .col-sm-3, .features_items .col-sm-4{
  width: 50%;
}

.footer-widget .col-sm-3{
  width: 50%;
  display: inline-block;
  margin-bottom: 50px;
}

.product-information span span{
  display: block;
  width: 100%;
}

.product-information .cart{
  margin-left: 0;
  margin-top: 15px;
}

.item-control i{
  font-size: 12px;
  padding: 5px 6px;
}

#cart_items .cart_info .cart_description h4, #cart_items .cart_info .cart_description p{
  text-align: center;
}

}

/* xs */
@media (max-width: 767px) {

.currency-selector{
    text-align: center;
  width: 100%;
}

.logo{
  text-align: center;
  width: 100%;
}

.search_box{
    text-align: center;
  width: 100%;
    padding-top: 5px;
}

.social-icons ul li a i {
  padding: 8px 10px;
}


.shop-menu.pull-right{
  float: none !important;
    text-align: center;
}

.mainmenu{
    overflow: inherit;
}

.mainmenu ul li{
  background: rgba(0, 0, 0, 0.5);
    padding-top: 15px;
  padding-bottom: 0;
}

.mainmenu ul li:last-child{
  padding-bottom: 15px;
}

.mainmenu ul li  a{
  color: #fff;
}

.navbar-collapse.in{
  overflow: inherit;
}

.mainmenu ul li a.active{
  padding-left: 15px;
}

ul.sub-menu{
  position: relative;
  width: auto;
  display: none;
  background: transparent;
  box-shadow: none;
  top: 0;
}

.sub-menu li{
  background: transparent;
}

.mainmenu .navbar-nav li ul.sub-menu li{
  background: transparent;
  padding-bottom:0;
}

.nav.navbar-nav > li:hover > ul.sub-menu{
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  box-shadow: none;
}

#slider-carousel .item{
  padding-left: 0;
}

.shipping{
  margin-bottom: 25px;
}

.contactinfo{
  text-align: center;
}

.social-icons.pull-right{
  float: none !important;
  text-align: center;
}


.footer-widget .col-sm-3 {
    width:50%;
  display: flex;
  margin-bottom: 50px;
  margin-top: 0;
  float: left;
  /*margin-left: 30px;*/
}

.product-information span {
  display: block;
}

}

/* XS Portrait */
@media (max-width: 480px) {

.footer-bottom .pull-left, 
.footer-bottom .pull-right, 
.mainmenu.pull-left,
.media.commnets .pull-left,
.media-list .pull-left{
  float: none !important;
}

.contactinfo .nav.nav-pills, .social-icons .nav.navbar-nav{
  display: inline-block;
}

.shop-menu ul li {
  padding: 0;
}

.shop-menu ul li:last-child{
  width: 100%;
    margin-top: 15px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:10px;
}

.item{
  padding-left: 0;
}

.item h1{
  font-size: 30px;
  margin-top: 0;
}

.item h2{
  font-size: 20px;
}

.footer-bottom p{
  font-size: 13px;
  text-align: center;
}

.footer-widget .col-sm-3 {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  margin-top: 0;
  float: left;
  padding-right: 0;
  padding-left: 30px;
  margin-left: 0;
}

.single-widget {
  padding-left: 0;
}

.features_items{
  margin-top: 30px;
}

.product-information{
  margin-top: 40px;
}

#reviews form span input{
  width: 100%;
  margin-bottom: 20px;
}

#reviews form span input:last-child{
  margin-left: 0;
}

.shipping{
  margin-bottom: 20px;
}

.commnets{
  padding: 0;
}

.content-404 h1{
  font-size: 30px;
}

.content-404 h2 a{
  font-size: 20px;
}

.order-message{
  display: inline-block;
}

.response-area .media img{
  width: auto;
}

.sinlge-post-meta li{
  margin-bottom: 10px;
}

.product-information{
  padding-left: 0;
  text-align: center;
}

.product-information span span{
  float: none;
}

}